.text {
	color: #006064!important;
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	text-decoration: none;
	font-size: 1.1em;
}

.activate {
	background-color: #f06292;
}

.fa-bars {
	color: #00838f;
}

.sidenav {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	padding-top: 10px;
}

.mobil {
	text-decoration: none;
}

.active {
	background-color: #ffcdd2;
	border-bottom: 5px solid #ad1457;
}

.is-active {
	background-color: #ffd54f;
}

.sidenav-overlay {
    height: 0px;
    width: 0px;
}