<app-header></app-header>
<br>

<div fxLayout="row wrap" fxLayoutAlign="center center">
	<img src="assets/MS2.jpg" class="responsive-img" style="width: 100%;">
	<mat-card class="mat-elevation-z8 desc">
		<mat-card-title class="mission">Our Mission</mat-card-title>
		MS International is in the business with the pledge that it will bring to your and your customer's dining table, whatever food items and beverages you desire, no matter what part of the globe they need to be brought from. We make special arrangements in highly contolled environments to keep the indigenous essence of the food items intact. Hygiene and Top Most Quality are the most integral part of our service. Our active network runs in many countries like Spain, Mauritius, Singapore, Thailand and China.
		<br>
		<br>
		<br>
		<br>
		<br>
		<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
			<img src="assets/spain.png" class="image responsive-img tooltipped" data-position="top" data-tooltip="Spain">
			<img src="assets/mauritius.png" class="image responsive-img tooltipped" data-position="top" data-tooltip="Mauritius">
			<img src="assets/singapore.png" class="image responsive-img tooltipped" data-position="top" data-tooltip="Singapore">
			<img src="assets/germany.png" class="image responsive-img tooltipped" data-position="top" data-tooltip="Germany">
			<img src="assets/italy.png" class="image responsive-img tooltipped" data-position="top" data-tooltip="Italy">
		</div>
	</mat-card>
</div>
<br>
<div fxLayout="row wrap" fxLayoutAlign="center center" class="mat-elevation-z8 part">
	<h1 class="partner">Our Partners</h1>
	<p class="best">We work with the best to deliver the best</p>
	<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
		<img src="assets/foodog.png" class="logo responsive-img">
		<img src="assets/milkow.png" class="logoB responsive-img">
		<img src="assets/green.png" class="logoA responsive-img">
	</div>
	<mat-divider [inset]="true"></mat-divider>
	<a class="learn">Learn More about our partners here</a>
</div>
<br>
<div fxLayout="row wrap" fxLayoutAlign="center center" class="mat-elevation-z8 team">
	<h1 class="partner">Our Team</h1>
	<p class="best">We work with the best to deliver the best</p>
</div>
<br>
<app-footer></app-footer>
