#chartdiv {
  width: 95vw;
  height: 500px;
}

.head {
  font-family: 'Dosis'!important;
  font-weight: 800!important;
  font-size: 1.5em;
  padding-top: 20px;
  text-align: center;
}

.heading {
  width: 100%;
  background-color: #ff5252;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}